* {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  display: grid;
  grid-template-rows: 200px 1fr 200px;
  font-family: 'figtree';
}

nav {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  padding: 0px 50px;
}

nav button {
  font-size: x-large;
  background-color: white;
  opacity: 1;
  border: none;
}

nav button:hover {
  opacity: 0.5;
  color: lightseagreen;
  transition: 0.5s;
}

#mimosa-btn {
  color: black;
  opacity: 1;
  font-family: 'paradiso';
  font-size: 72px;
}

#content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: 'figtree';
  src: url(/src/fonts/Figtree/Figtree-VariableFont_wght.ttf)
}

@font-face {
  font-family: 'paradiso';
  src: url(/src/fonts/grand_paradiso/GrandParadisoItalic-Italic.woff2);
}
