* {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  display: grid;
  grid-template-rows: 200px 1fr 200px;
}

nav {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
}

nav, button {
  font-size: x-large;
  font-family: 'figtree';
}

#content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: 'figtree';
  src: url(/src/fonts/Figtree/Figtree-VariableFont_wght.ttf)
}
