* {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  display: grid;
  grid-template-rows: 200px 1fr 200px;
}

nav {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
}

nav, button {
  font-size: x-large;
}

#content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero-img {
  max-height: calc(100vh - 200px);
}

.hero-text-container {
  display: grid;
  border: 1px solid black;
  padding: 100px 200px;
}

.hero-text {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  font-size: large;
  font-weight: bold;
  border: 2px solid blue;
  line-height: 25px;
}
